.DS_Store
node_modules
.tmp
npm-debug.log
/vendor

# Ignore all plugins except the one being developed
/plugins/*
# !/plugins/copyright-date-block/**

# Ignore all themes except the one being developed
/themes/*
!/themes/twentytwentyfive/**

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
